{% extends "main.html" %}

{% block content %}

CAMERA

<br/>
<br/>

go back | switch camera front/back | flash | enable 3x3 grid overlay
<br/>
<br/>

PHOTO (square dimensions, grey bars)

<br/>
<br/>
<br/>
select from gallery | take photo | video


<br/>
<br/>
(note: Does not have main controls on bottom.)

{% endblock %}
