{% extends "main.html" %}

{% block content %}

NEWS
<br/>
Following tab | You tab
<br/>
<br/>
<br/>
Recent Activity on your posts
</br>
</br>
When someone comments on or likes one of your photos or videos, you'll see it here.

{% endblock %}
